body {
  margin: 0;
  background: linear-gradient(to right, #1e1e2f, #f5f7fa);
  font-family: 'Poppins', sans-serif;
}



table.table {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.table-hover tbody tr:hover {
  background-color: #f0f8ff;
  transition: background-color 0.3s ease;
}

.btn {
  border-radius: 6px;
}

.btn-primary {
  background-color: #3f51b5;
  border: none;
}

.btn-outline-primary {
  border-color: #3f51b5;
  color: #3f51b5;
}

.btn-outline-primary:hover {
  background-color: #3f51b5;
  color: white;
}

.btn-danger {
  background-color: #e53935;
  border: none;
}

.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}
.navbar .btn:hover {
  background-color: #4338ca;
  transition: background-color 0.3s ease;
}

